body {
  font-family: 'Helvetica neue', Helvetica, sans-serif;
  font-size: 1.5rem;
}

 #app {
  position: relative;
  padding-bottom: 250px;
  background-color: #17232e;
  color: #A2B4C2;
}
}


footer>div {   
  background-color: #1b1c1d;
  margin: 0px auto;
  text-align: center;
  color: white;
  padding: 10px;
  position: relative;
}


footer>div h1 {
  margin: 10px
}

footer>div div {
  width: 50%;
  height: 2px;
  background-color: white;
  margin: 0px auto;
}

footer>div p {
  margin: 10px;
  font-size: 25px;
}


#topMenu {
  font-size: 1.5rem;
  border-radius: 0px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 100px;
  background-color: #1b1c1d;
  text-align: center;
}
