.current-players-list{
  margin: 0px;
  width: 350px;
}

.letterBtns {
  width: 400px;
  margin: 0px auto
}

.letterBtns button {
  font-size: 2 rem;
}

.wordInput {
  font-size: 80px;
    display: block;
    margin: 100px auto auto auto;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
}

.wordInput + input {
  display: block;
  margin: 20px auto;
  font-size: 5rem;
}

.in-game-score {
  width: 400px;
  margin: 0px auto;
}

.countdown-timer {
  font-size: 180px;
  text-align: center;
  margin-top: 60px;
  color: white;
}

.current-letters-div {
  text-align: center;
  margin: 0px;
  font-size: 100px;
  background-color: #777;
  margin: 0px auto;
  height: 142.5px;
}

.invite-btn-div {
  display: flex;
  justify-content: space-around;
}

.letter-generator > h1 {
  text-align: center;
  margin-top: 200px;
}

.scoreboard-div > h1 {
  text-align: center;
}

div.scoreboard-div{
  margin-top: 40px;
}

div.gameRoom > button {
  position: absolute;
  right: 0px;
}

div.gameRoom > div.grid {

}

div.admin-view > button.ui.button {
  margin: 15px auto 0px auto;
  display: block;
  width: 152px;
}

div.copy-text {
  color: red;
  font-size: 14px;
  text-align: center;
  height: 20px;

}

div.ui.grid{
  height: 100vh;
}

div.three.wide.column {
  background-color: #394b59;
  color white;
;
}

div.ten.wide.column {
  background-color: #17232e;
  color: black;
}

table.ui.inverted.table {
  border-radius: 0px;
}

button.ui.button {
  border-radius: 0px;
}

.letter-generator > h1 {
  color: #A2B4C2;
}

.red-text {
  color: red;
}