.current-players-list{
  margin: 0px;
  width: 350px;
}

.letterBtns {
  width: 400px;
  margin: 0px auto
}

.letterBtns button {
  font-size: 2 rem;
}

.wordInput {
  font-size: 80px;
  display: block;
  margin: 100px auto auto auto;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  width: calc(100% - 154px)
}

.wordInput + input {
  display: block;
  margin: 20px auto;
  font-size: 5rem;
}

.in-game-score {
  margin: 0px auto;
  width: 90%;

}

.countdown-timer {
  font-size: 180px;
  text-align: center;
  margin: 150px auto;
  color: white;
}

.current-letters-div {
  text-align: center;
  margin: 0px;
  font-size: 100px;
  background-color: #777;
  margin: 0px auto;
  height: 142.5px;
  width: calc(100% - 154px)
}

.invite-btn-div {
  display: flex;
  justify-content: space-around;
}

.letter-generator > h1 {
  text-align: center;
  margin-top: 200px;
}

.scoreboard-div > h1 {
  text-align: center;
}

div.scoreboard-div{
  margin: 0px auto auto auto;
  width: 90%;
}

div.gameRoom > button {
  position: absolute;
  right: 0px;
}

div.gameRoom > div.grid {

}

div.admin-view > button.ui.button {
  margin: 15px auto 0px auto;
  display: block;
  width: 152px;
}

div.copy-text {
  color: red;
  font-size: 14px;
  text-align: center;
  height: 20px;

}

div.ui.grid{
  height: 100vh;
}

div.three.wide.column {
  background-color: #394b59;
  color white;
;
}

div.ten.wide.column {
  background-color: #17232e;
  color: black;
}

table.ui.inverted.table {
  border-radius: 0px;
}

button.ui.button {
  border-radius: 0px;
}

.letter-generator > div h1 {
  color: #A2B4C2;
  display: inline-block;
  padding: 0px 20px 0px 20px;
}

.red-text {
  color: red;
}

.letter-generator > div {
  text-align: center;
}

.letter-generator > div span {
  display: inline-block;
  width: calc(50% - 194px);
  background-color: #A2B4C2;
  height: 2px;
  margin-bottom: 9px;
}

.wordBuilder input::placeholder {
  font-size: 45px;
  font-style: italic;
  font-family: Georgia, serif, 'Times New Roman', Times, serif;
  padding-bottom: 30px;
}

.wordBuilder input {
  padding: 10px 0px;
}

.gameRoom table.table.ui.inverted.table {
  font-size: 0.8em;
  color: #A2B4C2;
}

.admin-view {
  width: 90%;
  margin: 0px auto 30px auto;
}

.admin-view > h2 {
    text-align: center;
    margin: 0px;
    color: #A2B4C2;
}

.admin-sep {
      width: 100%;
    height: 1px;
    background-color: #A2B4C2;
    margin: 0px auto;
}

button + .admin-sep {
  margin-top: 20px;
  /* margin-bottom: 50px; */
}

.ui.inverted.definition.table tr td:first-child, .ui.inverted.table th {
  color:  #A2B4C2 !important;
}

.three.wide.column .ui.huge.button {
  margin: 0px auto 30px auto;
  display: block;
}

.in-game-score tbody td {
  height: 122px !important
}

.recent-words tbody tr {
  height: 55px !important;
}

.recent-words {
  width: 205px;
  margin: 0px auto;
}

.admin-sep.panel {
  width: 90%;
  margin: 30px auto;
}
.scoreboard-div > h2 {
  text-align: center;
  margin: 0px;
  color: #A2B4C2;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}